extends buttonlayout

block content
 h1= title
 h2#Money
 
 #game
  #shutda
    input#call_button(type='button', value='콜')
    input#allin_button(type='button', value='올인')
    input#die_button(type='button', value='다이')
    input#half_button(type='button', value='하프')
    input#qua_button(type='button', value='쿼터')
    input#double_button(type='button', value='더블')

    div#Call(display="none")
     p 배팅 전 판돈:
     p#Stakes 
        
    div#Total(display="none")
     p 배팅 금액(=콜비용):
     p#CallCost 
       

    div#Betting(display="none")
     p 배팅 후 판돈:
     p#restake 
      
    #user
     #list
     #logs
    //input#username(type='hidden', value= username)