doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/buttonstyle.css')
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery.min.js')
		script(src='/javascripts/buttonmain.js')
	body
		center
			block content