extends buttonlayout

block content
 h1= title
 p 
  font(color='DodgerBlue') #{username}
  | 님 환영합니다.
 
 #game
  #shutda
    input#call_button(type='button', value='콜')
    input#allin_button(type='button', value='올인')
    input#die_button(type='button', value='다이')
    p 콜 비용을 입력해주세요:
    p 
        input#callprice(type="text")
    p 
        input#send(type="submit" value="Submit")
    #user
     #list
     #logs
    //input#username(type='hidden', value= username)